.message{
    width: 100%;
    padding: 20px;
    font-size: 18px;
    &.user {
        background-color:#390c81;
    }
    .message-content{
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        .avatar{
            width: 30px;
            img {
               
            }
          
            .text{

            }
        }
    }
}