.message {
    width: 100%;
    padding: 20px;
    font-size: 18px;
    margin-bottom: 10px;
    &.user {
      background-color: #202124;
    }
    &.system {
      background-color: #35363a;
    }
    .message-content {
      width: 800px;
      margin-left: auto;
      margin-right: auto;
      word-wrap: break-word; /* Added property to wrap content */
      display: flex;
      .avatar {
        width: 30px;
        img {
          /* Add specific styles for the image if needed */
        }
        .text {
          /* Add specific styles for the text if needed */
        }
      }
    }
  }
  