<div class="ui sidebar inverted vertical menu visible">
  <a class="item" routerLink="/new">
    <div class="newChat">
      <i class="icon plus"> </i>
      <span> New Chat </span>
    </div>
  </a>

  <a class="item" *ngFor="let conversation of conversations">
    <div
      class="Chat"
      routerLink="/chats/{{ conversation.id }}"
      routerLinkActive="active"
    >
      <span>{{ conversation.name }}</span>
      <div class="right aligned">
        <i class="icon trash alternate custom-icon" (click)="onTrashIconClick($event, conversation.id)"></i>
      </div>
    </div>
  </a>
</div>
<div class="pusher">
  <router-outlet></router-outlet>
  <app-chat-window> </app-chat-window>
</div>
