<nav class="init">
  <div class="logo">{{ "mizan" | translate }} <b>.</b></div>
</nav>
<div class="messages">
  <ng-container 
  >
  <app-message 
  *ngFor="let message of messages"
  [role]="message.role"
  [content]="message.content">
</app-message>
</ng-container>
</div>
<div class="chat-input">
  <input
    type="text"
    placeholder="Type Your Message..."
    [(ngModel)]="message"
    (keyup.enter)="sendMessage()"
  />
 <i class="paper plane outline icon" (click)="sendMessage()"></i>
</div>
