<nav class="init">
  <div class="logo">{{ "mizan" | translate }} <b>.</b></div>
</nav>
<div class="messages" #scrollMe>
  
    <app-message
      *ngFor="let message of messages"
      [role]="message.role"
      [content]="message.content">
    </app-message>

</div>
<div class="chat-input">
  <input
    type="text"
    placeholder="Send Your Message to Mizan."
    [(ngModel)]="messageInput"
    (keyup.enter)="sendMessage(messageInput)"
    
  />
 <i class="paper plane outline icon" (click)="sendMessage(messageInput)"></i>
</div>
