.messages {
    margin-bottom: 10px;
}


.chat-input {
    display: flex;
    position: fixed;
  width: calc(100% - 260px);
  bottom: 0;
    align-items: center;
    background-color: #1b1c1d;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    background-color: #444654;
    color: #fff;
    border: none;
    border-radius: 10px;
    outline: none;
  }
  
  button {
    background-color: #6f1b84;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #370145;
  }
  .init {
	display: flex;
	width: 100%;
	justify-content:center;
	height: 80px;
	line-height: 80px;
	z-index: 111;
	background-color: #00141b;
    color: #fff;
  }

  .logo {
	display: flex;
	font-size: 40px;
	font-weight: 800;
	color: #ffffff;
	letter-spacing: 3px;
	cursor: pointer;
	text-transform: uppercase;
	padding: 10px;
  }
  
  b {
	font-size: 70px;
	color: #7f00ff;
  }
  
  
  @media (min-width: 768px) {
    /* Apply these styles for screens with a width of 768px or more */
   
  }
  @media (max-width: 768px) {
  
      .logo {
        font-size: 30px;
      }
    }
  

