.messages {
    margin-bottom: 10px;
}


.chat-input {
    display: flex;
    position: fixed;
  width: calc(100% - 260px);
  bottom: 0;
    align-items: center;
    background-color: #1b1c1d;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    background-color: #444654;
    color: #fff;
    border: none;
    border-radius: 10px;
    outline: none;
  }
  
  button {
    background-color: #6f1b84;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #370145;
  }
  