@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}

body {
	background-color: #f3f5f8;
}
.bigCont {
	background-color: #f3f5f8;
}
.containerx {
	width: 100%;
	min-height: 100vh;
	background-color: #f3f5f8;
  }
  
  .init {
	display: flex;
	width: 100%;
	justify-content: space-between;
	height: 80px;
	line-height: 80px;
	z-index: 111;
	margin-bottom: 30px;
	background-color: #f3f5f8;
  }
  .a {
    
        display: flex;
        width: 100%;
        justify-content: center;
        height: 80px;
        line-height: 80px;
        z-index: 111;
        margin-bottom: 30px;
        background-color: #f3f5f8;
  }
  
  .logo {
	display: flex;
	font-size: 40px;
	font-weight: 800;
	color: #3d535f;
	letter-spacing: 3px;
	cursor: pointer;
	text-transform: uppercase;
	padding: 10px;
  }
  
  b {
	font-size: 70px;
	color: #7f00ff;
  }
  
  .navItems {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .Logout {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .navItems li, .Logout li {
    margin: 0 30px; /* Adjust the margin as needed for spacing between items */
  }
  
  .navItems a, .Logout a {
    text-decoration: none;
    color: #3d535f;
  }

  
  .custom-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .fa-regular.fa-message {
    font-size: 24px; /* Adjust the font size as needed */
  }
  
  .fa-solid.fa-right-from-bracket {
    font-size: 24px; /* Adjust the font size as needed */
    margin-left: 5px; /* Add spacing between the button and the icon */
  }
  
  @media (min-width: 768px) {
    /* Apply these styles for screens with a width of 768px or more */
    .navItems {
      justify-content: flex-end; /* Right-align items on larger screens */
    }
    .navItems li a, .Logout li a {
        font-size: 15px;
    }
  }
  
  
  .navItems li a, .Logout li a {
	font-size: 25px;
	color: #3d535f;
	letter-spacing: 3px;
	text-decoration: none;
	text-transform: capitalize;
	font-weight: 200;
  }
  
  .navItems li:hover a{
	color: #7f00ff;
  }

  .Logout li:hover a{
	color: #7f00ff;
    cursor: pointer;
  }

  
  .custom-button:hover {
	color: #7f00ff; /* Color when hovered */
	cursor: pointer;
  }

  .custom-button {
    color: #3d535f;
    font-size: 20px;
  }

  .fundo {
	animation: scales 3s alternate infinite;
	transform-origin: center;
}
.pao-baixo {
	animation: rotatepao 14s cubic-bezier(0.1, 0.49, 0.41, 0.97) infinite;
	transform-origin: center;
}
.pao-cima {
	animation: rotatepao 7s 1s cubic-bezier(0.1, 0.49, 0.41, 0.97) infinite;
	transform-origin: center;
}
.olhos {
	animation: olhos 2s alternate infinite;
	transform-origin: center;
}

.left-sparks {
	animation: left-sparks 4s alternate infinite;
	transform-origin: 150px 156px;
}

.right-sparks {
	animation: left-sparks 4s alternate infinite;
	transform-origin: 310px 150px;
}

.olhos {
	animation: olhos 2s alternate infinite;
	transform-origin: center;
}
@keyframes scales {
	from {
		transform: scale(0.98);
	}
	to {
		transform: scale(1);
	}
}

@keyframes rotatepao {
	0% {
		transform: rotate(0deg);
	}
	50%,
	60% {
		transform: rotate(-20deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes olhos {
	0% {
		transform: rotateX(0deg);
	}
	100% {
		transform: rotateX(30deg);
	}
}

@keyframes left-sparks {
	0% {
		opacity: 0;
	}
}

.main {
	
	margin: 0px auto;
	width: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.path {
	stroke-dasharray: 300;
	stroke-dashoffset: 300;
	animation: dash 4s alternate infinite;
}

@keyframes dash {
	0%,
	30% {
		fill: 4B4B62;
		stroke-dashoffset: 0;
	}
	80%,
	100% {
		fill: transparent;
		stroke-dashoffset: -200;
	}
}

.containerx {
	fill: #fafafa;
}
.example-card {
    
    width: 100%;
    align-items: center;
  }
  
  .Lawyer {
    background-image: url('https://media.npr.org/assets/img/2022/07/25/bcs_609_gl_1005_0864-rt-d902123a10b2eb10167b5f916a21d3af0664b6c4.jpg');
    background-size: cover;
    height: 100px;
    width: 100px;
  }
  .Judge {
    background-image: url('https://static.wikia.nocookie.net/suits/images/a/a9/Judge_McIntyre_%282x13%29.png');
    background-size: cover;
    height: 100px;
    width: 100px;
  }
  .Else {
    background-image: url('https://hips.hearstapps.com/hmg-prod/images/rob-gronkowski-of-the-new-england-patriots-moves-into-the-news-photo-650618002-1547566506.jpg');
    background-size: cover;
    height: 100px;
    width: 100px;
  }
  .mat-mdc-card-title {
    font-size: 40px;
    color: #c7c7c7;
  }
  .mat-mdc-card-subtitle {
    font-size: 30px;
  }
  .mat-mdc-form-field{
    width: 300px;
  }
  .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* This centers the content vertically within the viewport height */
      
        }