@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}

body {
	background-color: #181818;
}
.bigCont {
	background-color: #181818;
}
.containerx {
	width: 100%;
	min-height: 100vh;
	background-color: #181818;
  }
  
  .init {
	display: flex;
	width: 100%;
	justify-content: space-between;
	height: 80px;
	line-height: 80px;
	z-index: 111;
	margin-bottom: 30px;
	background-color: #181818;
  }
  .a {
    
        display: flex;
        width: 100%;
        justify-content: center;
        height: 80px;
        line-height: 80px;
        z-index: 111;
        margin-bottom: 30px;
        background-color: #181818;
  }
  
  .logo {
	display: flex;
	font-size: 40px;
	font-weight: 800;
	color: #c3c3c3;
	letter-spacing: 3px;
	cursor: pointer;
	text-transform: uppercase;
	padding: 10px;
  }
  
  b {
	font-size: 70px;
	color: #7f00ff;
  }
  
  .navItems {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .Logout {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .navItems li, .Logout li {
    margin: 0 30px; /* Adjust the margin as needed for spacing between items */
  }
  
  .navItems a, .Logout a {
    text-decoration: none;
    color: #c3c3c3;
  }

  
  .custom-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .fa-regular.fa-message {
    font-size: 24px; /* Adjust the font size as needed */
  }
  
  .fa-solid.fa-right-from-bracket {
    font-size: 24px; /* Adjust the font size as needed */
    margin-left: 5px; /* Add spacing between the button and the icon */
  }
  
  @media (min-width: 768px) {
    /* Apply these styles for screens with a width of 768px or more */
    .navItems {
      justify-content: flex-end; /* Right-align items on larger screens */
    }
  }
  @media (max-width: 768px) {
    .navItems li a, .Logout li a {
      font-size: 15px !important; /* Adjust the smaller font size as needed */
    }
  
    .navItems .fa-xl,
    .Logout .fa-2xl {
      font-size: 25px; /* Adjust the smaller icon size as needed */
    }
    .Logout .fa-2xl {

      margin-bottom: 4px;
      margin-right: 20px;
    }
    
      .mat-mdc-card-title {
        font-size: 30px !important;
        color: #c7c7c7;
      }
      .mat-mdc-card-subtitle {
        font-size: 20px !important;
      }
      .logo {
        font-size: 30px;
      }
    }
  
  @media (max-width: 516px) {
    .navItems li a, .Logout li a {
      font-size: 10px !important; /* Adjust the smaller font size as needed */
    }
  
    .navItems .fa-xl,
    .Logout .fa-2xl {
      font-size: 20px; /* Adjust the smaller icon size as needed */
    }
  }
  
  
  
  .navItems li a, .Logout li a {
	font-size: 25px;
	color: #c3c3c3;
	letter-spacing: 3px;
	text-decoration: none;
	text-transform: capitalize;
	font-weight: 200;
  }
  
  .navItems li:hover a{
	color: #7f00ff;
  }

  .Logout li:hover a{
	color: #7f00ff;
    cursor: pointer;
  }

  
  .custom-button:hover {
	color: #7f00ff; /* Color when hovered */
	cursor: pointer;
  }

  .custom-button {
    color: #7f00ff;
    font-size: 20px;
  }

.containerx {
	fill: #fafafa;
} 
  .Lawyer {
    background-image: url('https://react.semantic-ui.com/images/avatar/large/elliot.jpg');
    background-size: cover;
    height: 100px;
    width: 100px;
  }
  .Judge {
    background-image: url('https://legacytransportationloscabos.com/resources/node_modules/semantic-ui/examples/assets/images/avatar/tom.jpg');
    background-size: cover;
    height: 100px;
    width: 100px;
  }
  .Else {
    background-image: url('https://hips.hearstapps.com/hmg-prod/images/rob-gronkowski-of-the-new-england-patriots-moves-into-the-news-photo-650618002-1547566506.jpg');
    background-size: cover;
    height: 100px;
    width: 100px;
  }
  .mat-mdc-card-title {
    font-size: 40px;
    color: #c7c7c7;
  }
  .mat-mdc-card-subtitle {
    font-size: 30px;
  }
  .mat-mdc-form-field{
    width: 300px;
    color: #7f00ff;
  }
  .example-card {
    background-color: #383838;
  }

     .center {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .example-card {
    
          width: 100%;
          align-items: center;
        }
       
        