

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;0,900;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body {
   // overflow: hidden;
  
}
.container {
    width: 100%;
    min-height: 100vh;
    background-color: #f3f5f8;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 80px;
    line-height: 80px;
    z-index: 111;
    background-color:#f3f5f8 ;
}

.logo {
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: #3d535f;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}

b{
font-size: 70px;
color: #7f00ff;
}
.navItems {
    display: flex;
}
.navItems li {
    list-style: none;
    margin: 0 15px;
}
.navItems li a {
    font-size: 25px;
    color: #3d535f;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 200;
}
.navItems li:hover a,
.links a:hover {
    color: #7f00ff;
}
.links a {
    font-size: 30px;
    color: #3d535f;
    margin: 25px 10px;
}
.warpper {
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}

.cols {
    width: 50%;
}

.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: #3d535f;
    margin-top: 50px;
}

.topline::after {
position: absolute;
content: '';
height: 4px;
width: 45px;
bottom: 0px;
background-color:#7f00ff ;
}

h1 {
    display: block;
    font-size: 3.2rem;
    font-weight: 900;
    color: #3d535f;
    margin-top: 50px;
    margin-bottom: 40px;
}
.multiText {
    color: #7f00ff;
    text-transform: capitalize;
}
p {
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: #3d535f;
}
.btns {
    width: 100%;
    position: relative;
    left: 150px;
}
button {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    background-color: #3d535f;
    padding: 8px 14px;
    margin: 20px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}
button:hover {
    background-color: #7f00ff;
}
.imgbox {
    position: relative;
    width: 100%;
    height: 100%;
}
.imgbox img {
    position: relative;
    height: 100%;
    width: calc(130% - 80px);
    top: -80px;
    right: 14px;
   
}
@keyframes animateUser {
    10% {
        right: 0.01px;
        top: 0.01px
    }
}
.warpper2 {
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}
.imgbox2 {
    position: relative;
    width: 100%;
    height: 100%;
}
.imgbox2 img {
    position: relative;
    height: 100%;
    width: calc(130% - 80px);
    top: -50px;
    right: 0px;
}
.topline1{
    display: block;
    position: relative;
    font-size: 48px;
    letter-spacing: 5px;
    color: #7f00ff;
    margin-top: 15px;
    margin-bottom: 43px;
    font-weight: 600;

    b {
        font-size: 70px;
        color: #3e525f;
    }
}
.cols1 {
    width: 50%;
    margin-top: 130px;
}